Repository picklepete/pyicloud, pull requests merged in 2020-03, with the labels that each got.

#159 Added working delete function for photos
  pyicloud/services/photos.py
Labels: service: photos

#247 Fix Reminder KeyError: 'description'
  pyicloud/services/reminders.py
Labels: service: reminders

#248 Fix Calendar KeyError: 'Event'
  pyicloud/services/calendar.py
Labels: service: calendar

#163 Additional key checking for photo version build-up
  README.rst
  pyicloud/services/photos.py
Labels: service: photos
